*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(163, 206, 207);
}
.container{
    display: flex;
    justify-content: center;
    width: 550px;
    height: 600px;
    background: rgb(252, 252, 252);
    border-radius: 10px;
    
    box-shadow: 0 4px 8px 0 rgba(34, 24, 24, 0.341);
    margin-top: 10%;
   
}
h1{ 
    padding-top: 20px;
    padding-left: 120px;
   
    
}
form{
    width: 480px;
    height: 300px;
}
#username{
    width: 100%;
    border: 1px solid rgb(223, 222, 222);;
    border-radius: 5px;
    margin-top: 7%;
    padding: 7px 10px;
    
}
#email{
    width: 100%;
    border: 1px solid rgb(223, 222, 222);;
    border-radius: 5px;
    margin-top: 7%;

    padding: 7px 10px;
}
  #mobile{
    width: 100%;
    border: 1px solid rgb(223, 222, 222);;
    border-radius: 5px;
    margin-top: 7%;

    padding: 7px 10px;
  }
#password{
    width: 100%;
    border: 1px solid rgb(223, 222, 222);;
    border-radius: 5px;
    margin-top: 7%;

    padding: 7px 10px;
}

#button{
    font-size: large;
    background: rgb(63, 173, 63);
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    width: 480px;
    height: 12%; 
    margin-top: 7%;

}
.errors{
    color: red;
   
}